<%- include ('components/header.ejs'); %>
<body>
  <%- include ('components/homenavbar.ejs'); %>
  <div class="container mt-5">
    <h1>Articles</h1>
    <hr />
    <% articles.forEach(article => { %>
    <div class="card mt-2">
      <div class="card-header"><%= article.title %></div>
      <div class="card-body">
        <a class="btn btn-success" href="/<%= article.slug %>">Read article</a>
      </div>
    </div>
    <% }) %>
  </div>
</body>
<%- include ('components/footer.ejs'); %>
